<div class="h-fit w-full bg-amber-100 flex flex-col space-y-3 md:space-y-0 md:flex-row justify-evenly items-center py-6 px-16">
  <div class="flex flex-col items-center justify-center">
    <div class="rounded-full border-2 border-black h-36 w-36 flex justify-center items-center">
      <img class="h-28" src="./assets/Free%20delivery.png">
    </div>
    <h3 class="font-bold text-2xl">Free & Fast</h3>
    <h3 class="font-bold text-2xl">Delivery</h3>
  </div>
  <div class="flex flex-col items-center justify-center">
    <div class="rounded-full border-2 border-black h-36 w-36 flex justify-center items-center">
      <img class="h-28" src="./assets/Quality%20badge.png">
    </div>
    <h3 class="font-bold text-2xl">Quality Assurance</h3>
  </div>
  <div class="flex flex-col items-center justify-center">
    <div class="rounded-full border-2 border-black h-36 w-36 flex justify-center items-center">
      <img class="h-24" src="./assets/Happy%20customer.png">
    </div>
    <h3 class="font-bold text-2xl">Happy Customers</h3>
  </div>
</div>
