<!--<div class="relative">-->
<!--  <nav class="divide-y divide-black border-b">-->
<!--    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 flex flex-row justify-between p-2 items-center">-->
<!--      <div class="flex items-center">-->
<!--        <div class="flex-shrink-0">-->
<!--          <img routerLink="/" class="h-12 w-20 cursor-pointer" src="../../assets/lion-logo.jpg" alt="Your Company">-->
<!--        </div>-->
<!--        <h1 routerLink="/" [ngClass]="{'hidden': isSearchBarExpanded}"-->
<!--          class="text-black text-2xl cursor-pointer">Name</h1>-->
<!--      </div>-->
<!--      &lt;!&ndash; component &ndash;&gt;-->
<!--      <div class="flex items-center">-->
<!--        <app-searchbar #searchbarComponent-->
<!--          (products)="productsResults = $event"-->
<!--        (openSearchBar)="expandSearchBar()"></app-searchbar>-->
<!--        <div class="mobile-menu" appDropdown (isProfileMenuOpenChange)="isProfileMenuOpen = $event">-->
<!--          &lt;!&ndash; Mobile menu button &ndash;&gt;-->
<!--          <button type="button" class="mobile-menu-button" aria-controls="mobile-menu" aria-expanded="false" (click)="toggleMenu()">-->
<!--            <span class="absolute -inset-0.5"></span>-->
<!--            <span class="sr-only">Open main menu</span>-->
<!--            &lt;!&ndash; Menu open: "hidden", Menu closed: "block" &ndash;&gt;-->
<!--            <svg class="hamburger" fill="none" viewBox="0 0 12 10" height="30px" width="30px" stroke-width="1.5" stroke="currentColor" aria-hidden="true">-->
<!--              <path stroke-linecap="round" stroke-linejoin="round" d="M10,2 L2,2" />-->
<!--              <path stroke-linecap="round" stroke-linejoin="round" d="M2,5 L10,5" />-->
<!--              <path stroke-linecap="round" stroke-linejoin="round" d="M10,8 L2,8" />-->
<!--            </svg>-->
<!--            &lt;!&ndash; Menu open: "block", Menu closed: "hidden" &ndash;&gt;-->
<!--            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">-->
<!--              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />-->
<!--            </svg>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div>-->
<!--          <div class="ml-4 flex items-center md:ml-6">-->
<!--            &lt;!&ndash; Profile dropdown &ndash;&gt;-->
<!--            <div class="hidden md:block">-->
<!--              <div class="relative ml-3" appDropdown (isProfileMenuOpenChange)="isProfileMenuOpen = $event">-->
<!--                <button type="button" class="profile-dropdown-button hover:fill-blue-600" aria-expanded="false" aria-haspopup="true">-->
<!--                  <span class="absolute -inset-1.5"></span>-->
<!--                  <span class="sr-only">Open user menu</span>-->
<!--                  <svg xmlns="http://www.w3.org/2000/svg" height="20" width="18" viewBox="0 0 448 512">&lt;!&ndash;!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.&ndash;&gt;<path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"/></svg>-->
<!--                </button>-->
<!--                <div [ngClass]="{'hidden': !isProfileMenuOpen, 'block': isProfileMenuOpen}"-->
<!--                     class="profile-dropdown-modal" role="menu" aria-orientation="vertical"-->
<!--                     aria-labelledby="user-menu-button" tabindex="-1">-->
<!--                  <a (click)="navigateToUserPanel()" class="profile-dropdown-modal-link cursor-pointer" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>-->
<!--                  <a (click)="clearCookies()" class="profile-dropdown-modal-link cursor-pointer" role="menuitem" tabindex="-1" id="user-menu-item-2"-->
<!--                  *ngIf="getLoggedInUserId()">Sign out</a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="relative ml-3">-->
<!--              <button routerLink="shopping-cart" class="flex text-black hover:text-blue-600"-->
<!--              (click)="loadItems()">-->
<!--                <mat-icon [matBadge]="cartBadgeNumber" matBadgeColor="warn">shopping_cart</mat-icon>-->
<!--              </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="hidden md:flex md:justify-center">-->
<!--      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">-->
<!--        <div class="flex h-10 items-center justify-between">-->
<!--          <div class="flex items-center">-->
<!--            <div class="hidden md:block ">-->
<!--              <div class="ml-10 flex items-baseline space-x-4">-->
<!--                <a routerLink="/" class="nav-links" aria-current="page">Home</a>-->
<!--                <a class="nav-links cursor-default" (mouseover)="openCategoriesModal()">Categories</a>-->
<!--                <a routerLink="products" class="nav-links">Producten</a>-->
<!--                <a routerLink="aboutUs" fragment="about-us" class="nav-links">Over ons</a>-->
<!--                <a routerLink="contact" class="nav-links">Contact</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--  &lt;!&ndash; Mobile menu, show/hide based on menu state. &ndash;&gt;-->
<!--  <div [ngClass]="{'hidden': !isProfileMenuOpen, 'block': isProfileMenuOpen}" #MobileNav class="md:hidden bg-white top-0" id="mobile-menu">-->
<!--    <div class="space-y-1 px-2 pb-3 pt-2 sm:px-3" #MobileNavTop>-->
<!--      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="mobile-menu-links">Home</a>-->
<!--      <a routerLink="/categories" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="mobile-menu-links">Categories</a>-->
<!--      <a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="mobile-menu-links">Producten</a>-->
<!--      <a routerLink="/aboutUs" routerLinkActive="active" fragment="about-us" [routerLinkActiveOptions]="{exact: true}" class="mobile-menu-links">Over ons</a>-->
<!--      <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="mobile-menu-links">Contact</a>-->
<!--    </div>-->
<!--    <div class="border-t border-gray-700 pb-3 pt-4" #MobileNavBottom>-->
<!--      <div *ngIf="getLoggedInUserId()" class="flex items-center px-5">-->
<!--        <div class="flex-shrink-0">-->
<!--          <svg xmlns="http://www.w3.org/2000/svg" height="30" width="28" viewBox="0 0 448 512">&lt;!&ndash;!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.&ndash;&gt;<path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z"/></svg>-->
<!--        </div>-->
<!--        <div class="ml-3">-->
<!--          <div class="mobile-menu-user-name">{{userName}}</div>-->
<!--          <div class="mobile-menu-user-email">{{userEmail}}</div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="mt-3 space-y-1 px-2">-->
<!--        <a (click)="navigateToUserPanel()" class="mobile-menu-user-links">Your Profile</a>-->
<!--        <a (click)="clearCookies()" class="mobile-menu-user-links" *ngIf="getLoggedInUserId()">Sign out</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <app-categories *ngIf="isCategoriesOpen"-->
<!--                  (mouseleave)="isCategoriesOpen = false"></app-categories>-->
<!--  <app-search-results-->
<!--  [products]="productsResults"></app-search-results>-->
<!--</div>-->
<header #header>
  <div class="header-row" >
    <div>
      <h1 class="shopping-cart font-bold text-2xl">Cholie Talie</h1>
    </div>
    <div class="flex items-center space-x-6">
      <button routerLink="shopping-cart" class="flex shopping-cart"
              (click)="loadItems()">
        <mat-icon [matBadge]="cartBadgeNumber" matBadgeColor="warn">shopping_cart</mat-icon>
      </button>
      <button class="menu-toggle" id="menuToggle">
        <svg viewBox="0 0 12 10" class="hamburger" height="40px" width="40px">
          <path d="M10,2 L2,2" class="bar-1"></path>
          <path d="M2,5 L10,5" class="bar-2"></path>
          <path d="M10,8 L2,8" class="bar-3"></path>
        </svg>
      </button>
    </div>
  </div>
</header>

<section class="fullpage-menu">
  <div class="fullpage-menu-inner">
    <div class="menu-bg"></div>
    <nav>
      <ul class="main-menu sm:text-xl">
        <li><a routerLink="/"><span data-clip="Home">Home</span></a></li>
        <li><a routerLink="/products"><span data-clip="Products">Products</span></a></li>
        <li><a routerLink="aboutUs" fragment="about-us"><span data-clip="Over ons">Over ons</span></a></li>
        <li><a routerLink="/contact"><span data-clip="Contact">Contact</span></a></li>
        <li><a (click)="navigateToUserPanel()" class="cursor-pointer"><span data-clip="Your Profile">Your Profile</span></a></li>
      </ul>
    </nav>
  </div>
</section>
