<div class="shopping-cart-modal-list" role="menu" aria-orientation="vertical"
     aria-labelledby="user-menu-button" tabindex="-1">
  <app-cart-item></app-cart-item>
  <app-cart-item></app-cart-item>
  <app-cart-item></app-cart-item>
  <app-cart-item></app-cart-item>
  <app-cart-item></app-cart-item>
  <app-cart-item></app-cart-item>
  <app-cart-item></app-cart-item>
  <app-cart-item></app-cart-item>
  <div class="shopping-cart-modal-bottom-section">
    <div class="shopping-cart-modal-bottom-section-title">
      <h4>Totaal</h4>
      <h4>€2000,00</h4>
    </div>
    <button class="shopping-cart-btn">
      Afrekenen
    </button>
  </div>
</div>
