<div class="relative bg-amber-100 flex flex-col justify-center">
  <div class="flex flex-col items-center mb-10">
    <img class="absolute top-0 left-0 w-full h-full object-cover lg:hidden" src="../../../assets/gray-background.jpg">
    <img class="absolute top-0 left-0 w-full h-full object-cover hidden lg:block" src="../../../assets/gray-background-pc.jpg">
    <div class="relative p-4 space-y-10 container">
      <div class="text-7xl">
        <h1>About us</h1>
      </div>
      <div>
        <h2 class="font-bold text-2xl">What types of products does Cholie Talie offer?</h2>
        <p>At Cholie Talie we have a variety of luxury perfumes from fresh notes to strong notes as well as accessories catering to the preferences of all our customers. Curating luxury inspired by Arabian and French fragrances.</p>
      </div>
      <div>
        <h2 class="font-bold text-2xl">What kinds of scents can be found in Cholie Talie's perfume range?</h2>
        <p>Our perfume range boasts a diverse selection of luxurious and sophisticated scents, each one expertly crafted by our talented perfumers. From classic, timeless fragrances to bold and daring new creations, we have something for every preference and occasion.</p>
      </div>
      <div>
        <h2 class="font-bold text-2xl">What measures does Cholie Talie take to ensure the excellence of its perfumes?</h2>
        <p>Our commitment to excellence extends to every aspect of our perfumes, from the finest ingredients and techniques used in their creation, to the elegant and refined packaging. Whether you choose one of our signature scents or opt for a limited edition fragrance, you can be sure that you are indulging in the very best.</p>
      </div>
      <div>
        <h2 class="font-bold text-2xl">What influences the scent profiles of Cholie Talie's perfumes?</h2>
        <p>We offer a selection of scents derived from French & Arabic Notes . These bold scents are perfect for the modern man or woman who wants to make a statement with his/her fragrance.</p>
      </div>
      <div>
        <h2 class="font-bold text-2xl">Why should customers choose Cholie Talie's perfumes for their fragrance needs?</h2>
        <p>No matter which of our perfumes you choose, you can be confident that you are treating yourself to the highest quality and most luxurious fragrances on the market. So why wait? Indulge in the elegance and sophistication of our perfume range today.</p>
      </div>
    </div>
  </div>
</div>
