<section class="cholie-pruple min-h-screen text-amber-100" id="contact" #Main>
  <div class="mx-auto w-screen px-4 py-16 sm:px-6 lg:px-8 lg:py-20 pt-24 flex flex-col justify-center items-center">
    <div class="mb-4 md:mt-32">
      <div class="mb-6 max-w-3xl text-center sm:text-center md:mx-auto md:mb-12">
        <p class="text-base font-semibold uppercase tracking-wide">
          Contact
        </p>
        <h2
          class="font-heading mb-4 font-bold tracking-tight text-white text-3xl sm:text-5xl">
          Get in Touch
        </h2>
      </div>
    </div>
    <div class="flex items-stretch justify-center">
      <div class="grid md:grid-cols-1">
        <div class="h-full md:px-32">
          <p class="mt-3 mb-12 text-lg text-white text-center px-2">
            At Cholie Talie, we're always eager to connect with our clients, whether you have questions about our luxurious range of perfumes, need assistance in selecting the perfect fragrance, or simply wish to share your experiences. Our dedicated team is here to provide you with exceptional service and support, ensuring your journey with us is as exquisite as our fragrances.
          </p>
          <div class="w-full flex justify-center">
            <ul class="mb-6 md:mb-0 flex flex-col md:flex-row md:space-x-3">
              <li class="flex">
                <div class="flex h-10 w-10 items-center justify-center rounded bg-blue-900 text-gray-50">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                       fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                       stroke-linejoin="round" class="h-6 w-6">
                    <path
                      d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2">
                    </path>
                    <path d="M15 7a2 2 0 0 1 2 2"></path>
                    <path d="M15 3a6 6 0 0 1 6 6"></path>
                  </svg>
                </div>
                <div class="ml-4 mb-4">
                  <h3 class="mb-2 text-lg font-medium leading-6">Contact
                  </h3>
                  <p class="text-white">Mobile: +31629012024</p>
                  <p class="text-white">Mail: support&#64;cholietalie.nl</p>
                </div>
              </li>
              <li class="flex">
                <div class="flex h-10 w-10 items-center justify-center rounded bg-blue-900 text-gray-50">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                       fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                       stroke-linejoin="round" class="h-6 w-6">
                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                    <path d="M12 7v5l3 3"></path>
                  </svg>
                </div>
                <div class="ml-4 mb-4">
                  <h3 class="mb-2 text-lg font-medium leading-6">Working
                    hours</h3>
                  <p class="text-white">Monday - Friday: 12:00 - 18:00</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
