<div class="card flex justify-content-center p-2">
  <p-accordion [activeIndex]="0">
    <p-accordionTab header="Shipping & Returns Policy:">
      <p>
        This policy applies for the orders in the Netherlands and Belgium. Relying on the shipping companies in this region.
        All orders placed before 08:30 PM on a working day will be delivered within 48 hours maximum.
        Orders placed on weekends and holidays will be delivered within the next two working days.
        We will always aim to have your order delivered soonest possible.
      </p>
    </p-accordionTab>
    <p-accordionTab header="Return Policy">
      <p>
        If you decide to return an order, we kindly request that you complete the Return form , print it and include it in the box you are returning.
        Once we receive your return package, we will contact you. The return address can be found on the form.
        Return duration:  within 14 days of receiving the order. You have the right to return the order if it meets the return eligibility.
        Return Eligibility: To be eligible for return, the products must meet our return conditions: no signs of use, all labels and accessories must be present and the packaging must be intact.
      </p>
    </p-accordionTab>
<!--    <p-accordionTab header="Header III">-->
<!--      <p>-->
<!--        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa-->
<!--        qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.-->
<!--      </p>-->
<!--    </p-accordionTab>-->
  </p-accordion>
</div>
