<div class="min-h-screen">
  <div class="flex h-screen flex-col justify-center px-6 py-12 lg:px-8 bg-white">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm mt-24">
      <img class="mx-auto h-48  md:w-auto md:h-auto" src="../../../assets/lion-logo.jpg" alt="Your Company">
      <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Thanks for your patient</h2>
    </div>

    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm flex flex-col items-center">
      <div>
        <h1>We have sent and email to</h1>
        <h1 class="text-blue-800">{{email}}</h1>
      </div>
    </div>
  </div>

</div>
