<div class="flex flex-col min-h-full justify-center px-6 py-12 lg:px-8 bg-white h-full mt-24 md:flex-row">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm flex flex-col justify-center">
    <img class="mx-auto h-48  md:w-auto md:h-auto" src="./assets/lion-logo.jpg" alt="Your Company">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign up and become a Customer</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div *ngIf="isLoading" class="text-center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form class="space-y-2" action="#" method="POST" #registerForm="ngForm" (ngSubmit)="onsubmit(registerForm)"
    *ngIf="!isLoading">
      <div>
        <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
        <div class="mt-2">
          <input email ngModel id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>

      <div class="flex flex-col md:flex-row justify-between">
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
          </div>
          <div class="mt-2">
            <input ngModel minlength="6" id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
<!--        <div>-->
<!--          <div class="flex items-center justify-between">-->
<!--            <label for="password2" class="block text-sm font-medium leading-6 text-gray-900">Re enter your password</label>-->
<!--          </div>-->
<!--          <div class="mt-2">-->
<!--            <input ngModel minlength="6" id="password2" name="password2" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">-->
<!--          </div>-->
<!--        </div>-->
      </div>
      <div class="flex flex-col md:flex-row justify-between">
        <div>
          <div class="flex items-center justify-between">
            <label for="firstname" class="block text-sm font-medium leading-6 text-gray-900">Firstname</label>
          </div>
          <div class="mt-2">
            <input ngModel id="firstname" name="firstname" type="text" required class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <div class="flex items-center justify-between">
            <label for="lastname" class="block text-sm font-medium leading-6 text-gray-900">Lastname</label>
          </div>
          <div class="mt-2">
            <input ngModel id="lastname" name="lastname" type="text" required class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
      </div>
      <div>
        <div class="flex flex-col md:flex-row justify-between">
          <label for="phonenumber" class="block text-sm font-medium leading-6 text-gray-900">Phonenumber</label>
        </div>
        <div class="mt-2">
          <input ngModel id="phonenumber" name="phonenumber" type="number" required class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      <div class="flex flex-col md:flex-row justify-between">
        <div>
          <div class="flex items-center justify-between">
            <label for="postalcode" class="block text-sm font-medium leading-6 text-gray-900">Postal Code</label>
          </div>
          <div class="mt-2">
            <input ngModel id="postalcode" name="postalcode" type="text" required class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
        <div>
          <div class="flex items-center justify-between">
            <label for="city" class="block text-sm font-medium leading-6 text-gray-900">City</label>
          </div>
          <div class="mt-2">
            <input ngModel id="city" name="city" type="text" required class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
          </div>
        </div>
      </div>
      <div>
        <div class="flex items-center justify-between">
          <label for="street" class="block text-sm font-medium leading-6 text-gray-900">Street</label>
        </div>
        <div class="mt-2">
          <input ngModel id="street" name="street" type="text" required class="block w-full rounded-md border-0 p-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
      </div>
      <div>
        <button
          type="submit"
          [disabled]="!registerForm.valid"
          [ngClass]="{'cursor-not-allowed': !registerForm.valid}"
          class="flex w-full justify-center rounded-md bg-blue-800 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign Up</button>
      </div>
    </form>

    <p class="mt-10 text-center text-sm text-gray-500">
      Already a Customer?
      <a routerLink="/login" class="font-semibold leading-6 text-blue-800 hover:text-blue-600">Sign in!</a>
    </p>
  </div>
</div>
