<div class="overflow-hidden" >
  <div class="flex flex-col justify-evenly relative h-max bg-black md:text-right">
    <img #Image class="h-screen object-cover object-top md:object-[center_30%]"src="../../assets/lion-walking.png">
    <div class="bg-black absolute z-1 w-full h-full bg-opacity-30"></div>
    <div class="absolute text-xl text-white container z-10 md:items-start">
      <div class="flex flex-col md:items-end items-center">
        <div class="ml-2 md:ml-0" #HeadSection>
          <h1 class="text-5xl md:text-6xl"
          >High Authentic Parfum</h1>
          <p class="text-sm">Nu op aanbieding</p>
          <button class="font-bold py-2 px-4 bg-white text-black m-1 text-sm rounded-3xl
              hover:bg-amber-100 hover:inner-border-amber-100 hover:text-zinc-800"
                  (click)="navigateToProducts()" [@fadeAnimation]="'fade'"
          >
            Koop Nu
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mx-auto p-4 flex flex-col items-center justify-center relative h-max bg-amber-100 text-6xl text-center">
  <img class="h-10" src="../../assets/diamond-icon.png">
  <div #ProductsSection>Explore Our Essence</div>
</div>
<div class="flex flex-col mx-auto lg:flex-row items-center w-full p-5 lg:px-10 lg:py-24 bg-zinc-800" #ProductsDetailsSection>
  <div class="lg:w-1/2 items-center">
    <div>
      <img src="assets/lion-wife.png">
    </div>
  </div>
  <div class="lg:w-1/2 flex flex-col items-center">
    <div class="text-center text-amber-100 p-10 leading-relaxed space-y-10">
      <h1 class="text-4xl font-bold">Make Your Story</h1>
      <h1>In the heart of a lush, fragrant jungle, there lived a majestic lion known for his unique scent, a blend of wild herbs and exotic flowers. Intrigued by his aroma, a renowned perfumer ventured into the jungle, seeking the secret behind the lion's scent. After observing the lion's habits, the perfumer discovered a hidden grove where the lion rolled in a bed of rare blossoms and aromatic leaves. Inspired, the perfumer created a luxurious perfume, capturing the essence of the jungle's king. The scent became a sensation, revered for its bold, natural elegance, just like the lion himself.</h1>
    </div>
    <button class="button">
      <a routerLink="/products">Buy Now</a>
    </button>
  </div>
</div>
<div class="border-b border-b-1 border-b-zinc-800" id="about-us" #aboutUsSection>
  <app-about-us></app-about-us>
</div>
<app-our-skills></app-our-skills>

