<div class="w-full max-w-sm bg-zinc-700 border border-amber-100 border-opacity-40 rounded-lg shadow m-1.5 "
     (mouseenter)="onHover = true" (mouseleave)="onHover = false">
  <div class="overflow-hidden relative aspect-w-1 aspect-h-1">
    <a [routerLink]="['/products', product.name]">
      <img class="p-8 rounded-t-lg transition-transform transform-gpu duration-300 ease-in-out scale-100 hover:scale-110"
           [ngClass]="{'transform scale-110': onHover}" [src]="fileURL" alt="product image" />
    </a>
  </div>
  <div class="px-5 pb-5 space-y-3">
    <a [routerLink]="['/products', product.name]">
      <h5 class="text-xl font-semibold tracking-tight text-amber-100 hover:underline"
      >{{product.name}}</h5>
    </a>
    <h1>{{product.description}}</h1>
    <div class="flex flex-col w-full items-start space-y-1">
      <span class="text-3xl font-bold text-amber-100">{{product.price | currency:"EUR"}}</span>
      <!--      <a (click)="addToShoppingCart(product)" class="cursor-pointer text-white bg-blue-800 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add to cart</a>-->
      <button
        (click)="addToShoppingCart(product)"
        class="overflow-hidden relative flex justify-center items-center w-full p-2 h-12 bg-black text-white border-none rounded-md text-md font-bold cursor-pointer relative z-10 group"
      >
        Add to Cart
        <span
          class="absolute w-full h-32 -top-8 bg-green-200 rounded-full transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-500 duration-1000 origin-center"
        ></span>
        <span
          class="absolute w-full h-32 -top-8 bg-green-400 rounded-full transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-700 duration-700 origin-center"
        ></span>
        <span
          class="absolute w-full h-32 -top-8 bg-green-600 rounded-full transform scale-x-0 group-hover:scale-x-100 transition-transform group-hover:duration-1000 duration-500 origin-center"
        ></span>
        <span
          class="group-hover:opacity-100 group-hover:duration-1000 duration-100 opacity-0 absolute top-2.5 z-10"
        >Thanks!</span
        >
      </button>

    </div>
  </div>
</div>
