<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow m-1.5 hover:bg-gray-50"
     (mouseenter)="onHover = true" (mouseleave)="onHover = false">
  <div class="overflow-hidden relative aspect-w-1 aspect-h-1">
    <a [routerLink]="['/products', product.name]">
      <img class="p-8 rounded-t-lg transition-transform transform-gpu duration-300 ease-in-out scale-100 hover:scale-110"
           [ngClass]="{'transform scale-110': onHover}" [src]="fileURL" alt="product image" />
    </a>
  </div>
  <div class="px-5 pb-5">
    <a [routerLink]="['/products', product.name]">
      <h5 class="text-xl font-semibold tracking-tight text-gray-900 hover:text-blue-800"
      >{{product.name}}</h5>
    </a>
    <h1 class="text-gray-600 italic">{{product.description}}</h1>
    <div class="flex items-center justify-between">
      <span class="text-3xl font-bold text-gray-900">{{product.price | currency:"EUR"}}</span>
      <a (click)="addToShoppingCart(product)" class="cursor-pointer text-white bg-blue-800 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add to cart</a>
    </div>
  </div>
</div>
