<li class="item">
  <div class="item-image">
    <img src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-04-product-02.jpg"
         alt="Front of satchel with blue canvas body, black straps and handle, drawstring top, and front zipper pouch."
         class="h-full w-full object-cover object-center">
  </div>

  <div class="item-details">
    <div>
      <div class="item-details-title-and-price">
        <h3>
          <a [routerLink]="['/products', product.product.name] "class="hover:text-blue-700">{{product.product.name}}</a>
        </h3>
        <p class="item-details-price">{{product.totalPrice | currency:"EUR"}}</p>
      </div>
      <p class="item-details-description">{{product.product.description}}</p>
    </div>
    <div class="item-details-quantity-and-remove">
      <p class="item-details-quantity">{{product.quantity}}</p>

      <div class="flex">
        <button (click)="removeCartItem(product)" type="button" class="item-details-remove">Remove</button>
      </div>
    </div>
  </div>
</li>
