<li class="item">
  <div class="item-image">
    <img src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-04-product-02.jpg"
         alt="Front of satchel with blue canvas body, black straps and handle, drawstring top, and front zipper pouch."
         class="h-full w-full object-cover object-center">
  </div>

  <div class="item-details">
    <div>
      <div class="item-details-title-and-price">
        <h3>
          <a href="#">Medium Stuff Satchel</a>
        </h3>
        <p class="item-details-price">$32.00</p>
      </div>
      <p class="item-details-description">Blue</p>
    </div>
    <div class="item-details-quantity-and-remove">
      <p class="item-details-quantity">Qty 1</p>

      <div class="flex">
        <button type="button" class="item-details-remove">Remove</button>
      </div>
    </div>
  </div>
</li>
