<div class="flex">
  <div class="bg-transparent md:bg-white items-center justify-between w-full flex rounded-full md:shadow-lg p-2 sticky md:inner-border md:inner-border-gray-300" style="top: 5px">
    <div [ngClass]="{'flex': isSearchBarExpanded, 'hidden': !isSearchBarExpanded}" class="md:flex w-full">
      <input
        class="font-bold uppercase rounded-full w-full py-2 pl-4 text-gray-700 bg-gray-100 leading-tight focus:outline-none focus:shadow-outline lg:text-sm text-xs"
        type="text" placeholder="Search" (change)="openSearchModal()"
      >
    </div>
    <div (click)="expandSearchBar()" class="bg-gray-600 p-2 hover:bg-blue-800 cursor-pointer mx-2 rounded-full">
      <svg class="w-4 h-4 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
      </svg>
    </div>
  </div>
</div>

